* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: #fb00ff;
  display: flex;
  justify-content: flex-end;
}

header > div {
  height: 70px;
  margin: 0 10px;
  background-color: #f99efe;
  flex-basis: 140px;
}

header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.left-box {
  width: 300px;
  background-color: #d1ffa7;
}

.flex2 {
  background-color: #17ab1a;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex2 > div {
  height: 130px;
  margin: 10px;
  background-color: #fff849;
  flex-basis: 200px;
}

footer {
  background-color: #438cff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div {
  height: 40px;
  margin: 10px;
  background-color: #a9e0fe;
  flex-basis: 45%;
  max-width: 600px;
}
